<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farina's. Bombones de Cáñamo</title>
    <link rel="icon" type=image/jpg href="IMG/Backgrounds/icon_1.jpg">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com"></link>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=Great+Vibes&family=Homemade+Apple&display=swap" rel="stylesheet">
    <!-- Fulles d'estil -->
    <link rel="stylesheet" href="../../style.css"></link>
    <link rel="stylesheet" href="../../header.style.css"></link>
</head>

<body>
    <div id = "container">
        <header>
            <div id = "header-container">
                <div id = "header-logo-box">
                    <div id = "header-logo-content">
                        <a href= "../../cover_index.html" id = "header-logo">F's</a> 
                    </div>
                </div>
                <div id = "header-title">
                    <h1 id = "main-title">FARINA's</h1>
                </div>
                <div id = "header-text-box">
                    <p>La palabra <b>harina</b> proviene del latín <b>farina</b>, que a su vez tiene su origen en el vocablo <b>far</b>, utilizado para designar el grano del farro, parecido al del trigo, muy consumido en la antigüedad. </p>
                </div>
            </div>
        </header>
        <nav>
            <div id="flours" class = "nav-content"><a href = "../../FLOURS/cover_flours.html">HARINAS</a></div>
            <div id="recipies" class = "nav-content dropdown">RECETAS
                <div class = "dropdown-content">
                    <ul id = "recipies-list">
                        <li id = "recipies-sublist1">
                            <ul class = "recipies-sublist">
                                <h5 class = "sublist-title"><a href = "../cover_recipies_bread.html">Panes</a></h5>
                                <li><a href = "../cover_recipies_bread.html#up-bread">Panes <i>subidos</i></a></li>
                                <li><a href = "../cover_recipies_bread.html#flat-bread">Panes planos, Tortillas y <i>Wraps</i></a></li>
                            </ul>
                        </li>
                        
                        <li id = "recipies-sublist2">
                            <ul class = "recipies-sublist">
                                <h5 class = "sublist-title"><a href = "../cover_recipies_savory.html">Recetas Saladas</a></h5>
                                <li><a href = "../cover_recipies_savory.html#patties">Empanadas</a></li>
                                <li><a href = "../cover_recipies_savory.html#soups-&-pures">Cremas y Sopas</a></li>
                                <li><a href = "../cover_recipies_savory.html#pizzas">Pizzas, <i>Pannini</i> y <i>Coques</i></a></li>
                                <li><a href = "../cover_recipies_savory.html#quiches"><i>Quiches</i></a></li>
                                <li><a href = "../cover_recipies_savory.html#fried">Rebozados, <i>Tempuras</i> y Fritos</a></li>
                                <li><a href = "../cover_recipies_savory.html#sauce">Salsas</a></li>
                            </ul>
                        </li>
                            
                        <li id = "recipies-sublist3">
                            <ul class = "recipies-sublist">
                                <h5 class = "sublist-title"><a href = "../cover_recipies_sweet.html">Recetas Dulces</a></h5>
                                <li><a href = "../cover_recipies_sweet.html#bisques">Bizcochos y Tartas</a></li>
                                <li><a href = "../cover_recipies_sweet.html#creams">Cremas</a></li>
                                <li><a href = "../cover_recipies_sweet.html#crepes"><i>Crepes</i></a></li>
                                <li><a href = "../cover_recipies_sweet.html#cookies">Galletas y Biscuits</a></li>
                                <li><a href = "../cover_recipies_sweet.html#donuts">Donuts</a></li>
                                <li><a href = "../cover_recipies_sweet.html#muffins"><i>Muffins</i></a></li>
                                <li><a href = "../cover_recipies_sweet.html#cakes">Pasteles</a></li>
                                <li><a href = "../cover_recipies_sweet.html#pancakes"><i>Pancakes</i></a></li>
                                <li><a href = "../cover_recipies_sweet.html#waffles"><i>Waffles</i></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="science" class = "nav-content"><a href = "../../SCIENCE/cover_science.html">CIENCIA</a></div>
            <div id = "about" class = "nav-content"><a href = "../../ABOUT/cover_about.html">SOBRE MÍ</a></div>
            <div id = "contact" class = "nav-content"><a href = "../../FORMS/Contact_Form.html">CONTACTO</a></div>
            <div id = "new-recipe" class = "nav-content"><a href = "../../FORMS/New_Recipe_Form.html">NUEVA RECETA</a></div>
        </nav>
        <div id = "main">
            <aside>
                <div id = "flours-dictionary">
                    <h3 id = "flours-list-title">TODAS LAS HARINAS</h3>
                    <ul id = "flours-list">
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Algarroba</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Almendra</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Almorta</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Altramuz</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Amaranto</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Arroz</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Arruruz</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Avellana</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Avena</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Bellota</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Boniato</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Cacahuete</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Calabaza</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Cañamo</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Castaña</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Cebada</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Centeno</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Chía</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Coco</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Chufa</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Espelta</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Garbanzo</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Girasol</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Guisante</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Haba</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Judía</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Judía mungo</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Kamut</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Lentejas</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Lino</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Maca</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Maíz</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Mijo</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Nuez</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Patata</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Plátano macho</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Quinoa</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Sésamo</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Soja</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Sorgo</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Trigo</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Trigo sarraceno</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Teff</a></li>
                        <li class = "flours-list-item"><a href="../FLOURS/FLOURS_CARDS/under_construction_CARD.html">Yuca</a></li>
                        
                    </ul>
                </div>
            </aside>
            <section>
                <div class = "single-recipe-container">
                    <div class = "single-recipe-title">
                        <h3></h3>
                    </div>
                    <div class = "single-recipe-content">
                        <div class = "recipe-fast-features">
                            <p class = "cooking-time">Tiempo de cocción:</p>
                            <p class = "dificulty">Dificultad:</p>
                        </div>
                        <div class = "recipe-image">imagen</div>
                        <div class = "recipe-ingredients">
                            <h4>Ingredientes:</h4>
                        </div>
                        <div class = "recipe-making">
                            <h3>Elaboración:</h3>
                        </div>
                        <div class = "recipe-tips>">
                            <h3>Consejos y extras:</h3>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer>
            <div id = "footer-content">
                <div id = "logo">
                    <h2 id = "logo-letters">F's</h2>
                </div>
                <div id = "meta-info">
                    <div id = "social-media">
                        <a href = "https://www.facebook.com/">
                            <img class = "social-icon" id = "facebook" src = "../../IMG/SOCIAL_MEDIA/fb5.png" width="40px" height="40px"/>
                        </a>
                        <a href = "https://www.instagram.com">
                            <img class = "social-icon" id = "instagram" src = "../../IMG/SOCIAL_MEDIA/igrm5.jpg" width="50px" height="50px"/>
                        </a>
                        <a href = "https://twitter.com">
                            <img class = "social-icon" id = "twitter" src = "../../IMG/SOCIAL_MEDIA/twitter5.jpg" width="50px" height="50px"/>
                        </a>
                        <a href = "https://www.pinterest.com">
                            <img class = "social-icon" id = "pinterest" src = "../../IMG/SOCIAL_MEDIA/pinterest5.jpg" width="40px" height="40px"/>
                        </a>
                    </div>
                    <div id = "policy-privacity">
                        <a id = "policy-link1" href = "../../POLICIES/privacity_policy.html">Politica de Privacidad</a>
                        <a id = "policy-link2" href = "#">Cookies</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>